{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Create Your Profile</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

<div><br><br>

    <table class="tab brown hd" style="margin-left: 61%;">
		<tr>
			<td style="display: flex; justify-content: flex-end;"> <a href="{% url 'login' %}">Skip</a> </td>
		</tr>
	</table><br>
    

	<table class="tab brown hd" style="margin-left: auto; margin-right: auto;">
		<tr>
			<td> <h2> Create Your Profile: </h2> </td>
		</tr>
	</table><br>

	<table class="tab" border="0px" style="margin-left: auto; margin-right: auto;">
		
		<tr>
			<td>
				<form action="" class="needs-validation" method="post" novalidate>
					{% csrf_token %}
                    {% if 'tcher_user' not in request.session.keys %}
					Which best describes you? <br>
                    <select name="profile_option" >
                        <option value="current_student">Current Student</option>
                        <option value="parent_or_guardian">Parent or Guardian of Student</option>
                        <option value="working_professional">Working Professional</option>
                        <option value="institution_staff">Institution Staff</option>
                        <option value="partner">Partner</option>
                    </select><br><br>
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <div>First Name: </div>
                            <div><input type="text" name="fname" class="form-control"  placeholder="Enter Your First Name" required> <br><br></div>
                        </div>
                        <div class="col">
                            <div>Last Name: </div>
                            <div><input type="text" name="lname" class="form-control" placeholder="Enter Your Last Name" required> <br><br></div>
                        </div>
                    </div>
					Country: <input type="text" list="countrysList" class="form-control"  name="country" placeholder="Enter Your Country/Region of Residence" required> <br><br>
                    <datalist id="countrysList">
                        {% for i in countries.values %}
                            <option value="{{i}}">{{i}}</option>    
                        {% endfor %}
                            
                    </datalist>
                    <div class="row">
                        <div class="col">

                            Age: <input type="number" name="age" class="form-control" placeholder="Enter Your Age" required> <br><br>
                        </div>
                        <div class="col">
                            Gender: <select class="form-control" name="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>
                        Mobile No.: <input type="number" name="mobile" class="form-control" placeholder="Enter Your Mobile No." required>
                    <div class="form-check m-4">
                            <input class="form-check-input mt-3" type="checkbox" value="" name="terms" id="terms" required>
                            <label class="form-check-label ps-4" for="invalidCheck">
                                I confirm that I accept the site’s <a href="">Terms</a> and <a href=""> Privacy </a> agreements and <br> allow my data to be held for as long as I am registered with this Website. <br></label>
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
            
                    </div>
					<input type="submit" disabled="true" id="submitBtn"  value="Submit">
				</form>
			</td>
			
		</tr>  
	</table>
</div>	
<style>
    .form-control{
            width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    

    }
    .form-control : :focus{
        border: 1px solid #ccc;
}
 
</style>

{% endblock content %}