{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Registration Page</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Login Page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

<div><br><br>
	<table class="tab brown hd" style="margin-left: auto; margin-right: auto;">
		<tr>
			<td> <h2> Create Your Account: </h2> </td>
		</tr>
	</table><br>

	<table class="tab" border="0px" style="margin-left: auto; margin-right: auto;">
		
		<tr>
			<td>
				<form action="" method="post" class="needs-validation" novalidate>
					{% csrf_token %}
					Select your Identity:	
					<select name="identity"> 
						
						<option value="student">Student</option>
						<option value="teacher">Teacher</option>
					</select><br><br>
					Username: <input type="text" name="username" class="form-control"  placeholder="Please enter your Username" required><br/><br/>
					Email Id : <input type="email" name="email" class="form-control"  placeholder="Please enter your email" required><br/><br/>
					Password : <input type="password" name="password" class="form-control"  placeholder="Please enter Password" required><br/><br/>
                    Confirm Password : <input type="password" class="form-control" name="conf-password"  placeholder="Please enter Confirm Password" required>
					<div class="form-check m-4">
                            <input class="form-check-input mt-3" type="checkbox" value="" name="terms" id="terms" required>
                            <label class="form-check-label ps-4" for="invalidCheck">
                                I confirm that I accept the site’s <a href="">Terms</a> and <a href=""> Privacy </a> agreements and <br> allow my data to be held for as long as I am registered with this Website. <br></label>
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
            
                    </div>
					{% comment %} FirstName: <input type="text" name="firstname" required><br/><br/>
					Last Name: <input type="text" name="lastname" required><br/><br/>
					Address : <input type="text" name="address" required><br/><br/>
					Phone No : <input type="text" name="phone" required><br/><br/>
					Email Id : <input type="email" name="mailid" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+.[a-z]$" required><br/><br/> {% endcomment %}
					<input type="submit" id="SignUp" value="SignUp" disabled>
					<div class="row pt-5">
						<div class="col text-center">
							Already signed up? <a href="{% url 'login' %}">go to login page</a>! 
						</div>
					</div>
				</form>
			</td>
			
		</tr>  
	</table>
</div>	
<style>
    .form-control{
            width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    

    }
    .form-control : :focus{
        border: 1px solid #ccc;
}
 
</style>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
	(function () {
	'use strict'

	// Fetch all the forms we want to apply custom Bootstrap validation styles to
	var forms = document.querySelectorAll('.needs-validation')

	// Loop over them and prevent submission
	Array.prototype.slice.call(forms)
		.forEach(function (form) {
		form.addEventListener('submit', function (event) {
			if (!form.checkValidity()) {
			event.preventDefault()
			event.stopPropagation()
			}

			form.classList.add('was-validated')
		}, false)
		})
	})()
	var checkbox = document.getElementById('terms')
	checkbox.addEventListener('click', function() {
		console.log('classification')
		if (checkbox.checked) {
			document.getElementById('SignUp').disabled = false;
		} else {
			document.getElementById('SignUp').disabled = true;
		}
	});
</script>
{% endblock content %}