{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Post Listening Test's Questions</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Listening Test</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<div><br><br>
    <table class="tab brown hd" style="margin-left: auto; margin-right: auto;">
        <tr>
            <td>
                <h2> Post Question </h2>
            </td>
        </tr>
    </table><br>
    <table class="tab" border="0px" style="margin-left: auto; margin-right: auto;">
        <tr>
            <td>
                <audio controls style="width: 100%;" id="selectedAudio" class="mb-2">
                    <source src="{{data.question}}">
                </audio>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="questionId" value="{{data.id}}">
                    Audio File: <input type="file" name="audio_file" id="audio_file" placeholder="Enter Audio File"
                        required><br /><br />
                    <input type="submit" value="Add Question">
                </form>
            </td>
        </tr>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#audio_file').change(function () {
            let audioSourceElement = $('#audioSource');
            let audioElement = $('#selectedAudio');
            let input = this;

            if (input.files && input.files[0]) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    audioSourceElement.attr('src', e.target.result);
                    audioElement[0].load(); // Load the new audio source
                };

                reader.readAsDataURL(input.files[0]);
            }
        });
    });
</script>

{% endblock content %}