{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-4">
    <div style="background-color: rgb(249, 249, 249)">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" style="border-radius: 5px" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <button class="nav-link active d-flex align-items-center justify-content-center"
                    style="border-radius: 5px 0px 0px 0px" id="v-pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">
                    writing
                    <i class="fa fa-pen ms-2 mt-1"></i>
                </button>
                <button class="nav-link d-flex align-items-center justify-content-center" id="v-pills-profile-tab"
                    data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">
                    listening
                    <i class="fa fa-assistive-listening-systems ms-2"></i>
                </button>
                <button class="nav-link d-flex align-items-center justify-content-center" id="v-pills-messages-tab"
                    data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">
                    reading
                    <i class="fas fa-book-reader ms-2"></i>
                </button>
                <button class="nav-link d-flex align-items-center justify-content-center" id="v-pills-settings-tab"
                    data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab"
                    aria-controls="v-pills-settings" style="border-radius: 0 0 0 5px" aria-selected="false">
                    speaking
                    <i class="fas fa-spider-black-widow"></i>
                </button>
            </div>
            <div class="tab-content w-100" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="table-responsive container mt-4 w-100">
                        <div style="min-height: 650px">
                            <table class="table table-hover table-responsive align-middle">
                                <thead class="table-secondary text-center">
                                    <tr class="text-center">
                                        <th>No</th>
                                        <th id="question">question</th>
                                        <th id="image">Image</th>

                                        <th id="time">time</th>
                                        <th id="Edit">Edit</th>
                                        <th id="Delete">Delete</th>
                                        <th id="Tests">Tests</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider" id="writingQuestionRecordShow">
                                    <tr></tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                        <div id="writingpagination" class="mt-3"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="table-responsive container mt-4 w-100">
                        <div style="min-height: 650px">
                            <table class="table table-hover table-responsive align-middle">
                                <thead class="table-secondary text-center">
                                    <tr class="text-center">
                                        <th>No</th>
                                        <th id="question">question</th>
                                        <th id="time">time</th>
                                        <th id="Edit">Edit</th>
                                        <th id="Delete">Delete</th>
                                        <th id="Tests">Tests</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider" id="listeningQuestionRecordShow">
                                    <tr></tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                        <div id="listeningpagination" class="mt-3"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="table-responsive container mt-4 w-100">
                        <div style="min-height: 650px">
                            <table class="table table-hover table-responsive align-middle">
                                <thead class="table-secondary text-center">
                                    <tr class="text-center">
                                        <th>No</th>
                                        <th id="question">question</th>
                                        <th id="image">total sub Questions</th>

                                        <th id="time">time</th>
                                        <th id="Edit">Edit</th>
                                        <th id="Delete">Delete</th>
                                        <th id="Tests">Tests</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider" id="readingQuestionRecordShow">
                                    <tr></tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                        <div id="readingpagination" class="mt-3"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="table-responsive container mt-4 w-100">
                        <div style="min-height: 650px">
                            <table class="table table-hover table-responsive align-middle">
                                <thead class="table-secondary text-center">
                                    <tr class="text-center">
                                        <th>No</th>
                                        <th id="question">question</th>
                                        <th id="time">time</th>
                                        <th id="Edit">Edit</th>
                                        <th id="Delete">Delete</th>
                                        <th id="Tests">Tests</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider" id="speakingQuestionRecordShow">
                                    <tr></tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                        <div id="speakingPagination" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<py-script src="{% static 'pyscript/scropt.py' %}"> </py-script>
<script>
    try {
        var writingRecords = "{{writingQuestions|safe}}";
    } catch (e) {
        var writingRecords = "";
        
    }

    try {
        var listeningRecords = "{{listeningQuestions|safe}}";
    } catch (e) {
        var listeningRecords = "";
    }
    try {
        var readingRecords = "{{readingQuestions|safe}}";
    } catch (e) {
        var readingRecords = "";
    }

    try {
        var speakingRecords = "{{speakingQuestions|safe}}";
    } catch (e) {
        var speakingRecords = "";
    }
    csrf = "{{csrf_token}}"
</script>
<script src="{% static 'js/myQuestions.js' %}" type="text/javascript"></script>
{% endblock content%}