{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Post Reading Test's Questions</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Reading Test</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
<div><br><br>
	<table class="tab brown hd" style="margin-left: auto; margin-right: auto;">
		<tr>
			<td> <h2> Post Question </h2> </td>
		</tr>
	</table><br>

	<table class="tab" border="0px" style="margin-left: auto; margin-right: auto;">
		
		<tr>
			<td>
				<form action="" method="post" enctype="multipart/form-data">
					
					{% csrf_token %}
					paragraph: <input type="text" name="content" placeholder="Enter paragraph for Reading" required><br/><br/>
                    1st Question: <input type="text" name="first_que" placeholder="Enter First Question" required><br/><br/>
                    2nd Question: <input type="text" name="second_que" placeholder="Enter Second Question" required><br/><br/>
                    3rd Question: <input type="text" name="third_que" placeholder="Enter Third Question" required><br/><br/>
                    4th Question: <input type="text" name="fourth_que" placeholder="Enter Fourth Question" required><br/><br/>
                    5th Question: <input type="text" name="fifth_que" placeholder="Enter Fifth Question" required><br/><br/>

					<input type="submit" value="Add Question">
				</form>
			</td>
		</tr> 
	</table>
</div>	

{% endblock content %}